<!DOCTYPE html>
<html lang="en">
<head>
    {% load  staticfiles%}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Author Table</h2>
   <table>
   <tr>
       <th>Given name</th>
       <th>Surname</th>
       <th>Email</th>
       <th>Url</th>
       <th>University</th>
       <th>Choice</th>
   </tr>
   {% if authors %}
       Hi Dung
       {% else %}
       by Haaa
   {% endif %}
       {% for author in authors %}
           <tr>
           <td>{{author.given_name}}</td>
           <td>{{ author.surname }}</td>pyt
           <td>{{ author.email }}</td>
           <td>{{ author.url }}</td>
           <td>{{ author.university_id.name }}</td>
           <td><a href="">Delete</a></td>
           </tr>
       {% endfor %}

   </table>

</body>
</html>